.flexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.flexItems {
  background-color: red;
  color: yellow;
  font-weight: 700;
  height: 400px;
  width: 23%;
  font-size: 60px;
}

.flexItems:nth-child(2) {
  /* order: 1; */
  display: none;
}

@media (max-width: 768px) and (min-width: 576px) {
  .flexItems {
    width: 40%;
    font-size: 320px;
  }
  .flexItems:nth-child(2) {
    order: -1;
    display: block;
  }
}
