.header {
  background-color: lightgray;
  display: flex;
  gap: 20px;
  font-size: 14px;
  text-decoration: none;
  padding: 20px;
}

.navItems > a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
}

.active {
  color: red !important;
  font-weight: 700 !important;
}
