.app {
  /* border: 1px solid black; */
  /* height: 80vh; */
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  height: 40vh;
  width: 50vh;

  background-color: cadetblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}
.buttonContainer {
  display: flex;
  gap: 20px;
}

.btn {
  font-size: 18px;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
}

.value {
  font-size: 32px;
}

.inc {
  background-color: greenyellow;
  /* color: gre; */
}

.dec {
  background-color: red;
}
